<div fxLayout="row">
    <!--<div id="myCarousel" fxFlex.gt-sm="100%" fxFlex.xs="100%" class="carousel slide" data-ride="carousel">-->
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>-->

        <!-- Wrapper for slides -->
        <!--<div class="carousel-inner">-->
            <div class="item active" [ngStyle.gt-sm]="{'max-height.px': 410, 'width': '100%', 'height': '90%', 'margin-bottom': '3%'}">
                <img width="100%" src="../assets/images/nissan3.png">
            </div>

            <!--<div class="item" [ngStyle.gt-sm]="{'max-height.px': 430}">-->
                <!--<img width="100%" src="../assets/images/nissan3.png">-->
            <!--</div>-->
        <!--</div>-->

        <!-- Left and right controls -->
        <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>-->
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center" fxLayoutGap="3%" class="spaceCard">
        <md-card fxFlex.gt-sm="45%" fxFlex.xs="100%" [ngStyle]="{'border-radius.px': 14}" [ngStyle.gt-sm]="{'height.px': 295}" [ngStyle.xs]="{'height.px': 430}" [ngStyle.sm]="{'height.px': 360}">
            <md-card-header [ngStyle]="{'height.px': 10}">
            </md-card-header>
            <md-card-content>
                <div class="titulo">
                    <i class="material-icons icon">library_books</i>
                    <span><b>NOTÍCIAS</b></span>
                </div>
                <div class="conteudos-content">
                    <app-notice-list></app-notice-list>
                </div>
            </md-card-content>
        </md-card>


        <md-card fxFlex.gt-sm="45%" fxFlex.xs="100%" [ngStyle]="{'border-radius.px': 14}" [ngStyle.gt-sm]="{'height.px': 295}" [ngStyle.xs]="{'height.px': 430}" [ngStyle.sm]="{'height.px': 360}">
            <md-card-header [ngStyle]="{'height.px': 10}">
            </md-card-header>
            <md-card-content>
                <div class="titulo">
                    <i class="material-icons icon">record_voice_over</i>
                    <span><b>SUPORTE</b></span>
                </div>
                <div class="conteudos-content">
                    <p>Algum problema no uso do Direct? </p>
                    <p>Consulte aqui as questões mais frequentes! </p>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>