<h1 md-dialog-title>Dialog</h1>
<div md-dialog-content>What would you like to do?</div>
<div md-dialog-actions>
  <button md-button >Option 1</button>
  <button md-button >Option 2</button>
</div>

<!--<div md-dialog-content>{{'forgot-password' | translate}}</div>
<div md-dialog-fields>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10%">
        <md-input-container fxFlex.gt-sm="70%">
            <input mdInput placeholder="{{ 'forgot-password-lb-useremail' | translate }}" tabindex="1" type="text" name="user" [(ngModel)]="forgot-password.userEmail"
                #name="ngModel" required minlength="5">
        </md-input-container>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex.gt-sm="70%">
                <button fxFlex.xs="100%" [ngStyle.xs]="{'margin-top.px':5}" [ngStyle.gt-sm]="{'margin-top.px':20}" md-raised-button color="primary"
                    tabindex="3" (click)="#">{{ 'send' | translate }}</button>
                <button type="button" md-raised-button color="primary" (click)="doLogin(login)">Login</button>-->
            <!--/div>
        </div>
    </div>
</div-->