div{
     overflow: hidden;
}

.mat-dialog-container{
    padding-top: 5px;
}

.size33{
    width: 33%
}
.size66{
    width: 66%
}

.size100{
    width: 100%
}

.textbig{
    font-size: xx-large;
}
.textsmal{
    font-size: smaller;
}