<!-- FOOTER -->
<md-toolbar [ngStyle]="{'background-color': '#E6E6E6'}" class="space">
    <!--<div fxLayoutAlign="start none">-->
    <p [ngStyle.xs]="{'font-size': '10px'}" [ngStyle]="{'margin-top': '0%', 'position': 'absolute', 'left': '1%'}" class="fonte">Release : 1.0.0-SNAPSHOT - 12/06/2017 09:32</p>
    <!--</div>-->

    <div fxLayout="column" [ngStyle]="{'float': 'right', 'padding': '0', 'position': 'absolute', 'right': '1%'}">
        <img src="../assets/images/logo_3.png" />
    </div>
</md-toolbar>