<div class="" fxFlex="100">

    <label>Teste</label>
    <!--   <md-content class="md-padding" layout-xs="column" layout="row">

    </md-content>
    <div class="spaceCard" fxLayout="row" fxLayoutAlign="center center">
        <md-card fxFlex.gt-sm="40" fxFlex="100">
            <md-card-header id="card-menu-perfil">
                <span>{{ 'change-password' | translate }}</span>
            </md-card-header>

            <md-card-content>
                <form class="example-form" #f="ngForm" [ngStyle]="{'padding': '4%'}">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10%">
                        <md-input-container color="primary" [ngStyle.gt-sm]="{'margin-top.px': 10}" fxFlex.gt-sm="80%" fxFlex.gt-xs="100%">
                            <input mdInput #characterCountInputHintExample minlength="6" placeholder="{{ 'new-password' | translate }}" type="password"
                                name="newPassword" required [(ngModel)]="passwordReset.newPassword" #name="ngModel">
                            <md-error>{{ 'field-required' | translate }}</md-error>
                        </md-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10%">
                        <md-input-container fxFlex.gt-sm="80%" [ngStyle.gt-sm]="{'margin-top.px': 10}" fxFlex.gt-xs="100%">
                            <input mdInput ngControl placeholder="{{ 'repeat-password' | translate }}" type="password" name="repeatPassword" required
                                minlength="5" [(ngModel)]="passwordReset.repeatPassword" #name="ngModel">
                            <md-error>{{ 'field-required' | translate }}</md-error>
                        </md-input-container>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end none" fxLayoutWrap fxLayoutGap.gt-sm="3%">
                        <!--<div fxFlex.gt-sm="20" fxFlex.xs="100%">
                            <!--<button type="reset" [ngStyle.xs]="{'margin-top.px': 5}" [ngStyle.gt-sm]="{'margin-top.px': 20}" fxFlex.xs="100%" md-raised-button id="secondColor" > {{ 'clear' | translate }}</button>-->
                        <!--</div>
                        <div fxFlex.gt-sm="30" fxFlex.xs="100%">
                            <button fxFlex.xs="100%" [ngStyle.gt-sm]="{'margin-top.px': 20}" md-raised-button color="primary" [disabled]="!f.form.valid"
                                (click)="resetPassword(user)"> {{ 'edit' | translate }}</button>
                        </div>
                    </div>
                    
                    {{msg}}

                </form>

            </md-card-content>
        </md-card>
    </div>-->
</div>